# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

.DS_Store
.flutter-plugins

.idea/codeStyles/
.idea/libraries/
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/

local.properties

ios/.generated/
packages
